In [1]:
import numpy as np
import pandas as pd

In [4]:
series1 = pd.Series([10, 20, 30, 40]) #인덱스 없이 0, 1, 2, 3 으로 접근하도록 생성
#인덱스와 함께 생성
series2 = pd.Series([10, 20, 30, 40], index=["one", "two", "three", "four"])
print(series1)
print(series2)
#dict를 이용해서 key는 index가 value는 value가 되도록 설정
series3 = pd.Series({"태연":"소녀시대", "수지":"Miss A", "카리나":"aespa", "설현":"AOA"})
print(series3)

0    10
1    20
2    30
3    40
dtype: int64
one      10
two      20
three    30
four     40
dtype: int64
태연       소녀시대
수지     Miss A
카리나     aespa
설현        AOA
dtype: object

In [7]:
#인덱싱
print(series3[0]) #일련번호를 가지고 접근
print(series3["태연"]) #인덱스를 가지고 접근
print(series3[0:2]) #일련번호는 종료 위치가 포함되지 않음
print(series3["태연":"카리나"]) #인덱스는 종료 위치가 포함됩니다.

소녀시대
소녀시대
태연      소녀시대
수지    Miss A
dtype: object
태연       소녀시대
수지     Miss A
카리나     aespa
dtype: object

In [12]:
print(series1.values) #값들만 추출
print(series1 + 100) #연산은 ndarray와 동일하게 수행되는데 values 속성의 멤버를 가지고 연산
print(np.sum(series1))

s1 = pd.Series(
{"태연":91, "수지":99, "카리나":88, "설현":73})
s2 = pd.Series(
{"태연":np.nan, "카리나":77, "수지":98, "민지":59})
print(s1+s2)

[10 20 30 40]
0    110
1    120
2    130
3    140
dtype: int64
100
민지       NaN
설현       NaN
수지     197.0
카리나    165.0
태연       NaN
dtype: float64

In [14]:
#DataFrame을 만들기 위한 딕셔너리 생성
items = {
    'code':[1, 2, 3, 4],
    'name':['수박', '참외', '딸기', '키위'],
    'price':[30000, 5000, 10000, 20000]
}


df = pd.DataFrame(items)
print(df)

   code name  price
0     1   수박  30000
1     2   참외   5000
2     3   딸기  10000
3     4   키위  20000

In [18]:
print(df.index)
print(df.columns)
df.index = range(1, 5)
df.columns = ['코드', '이름', '가격']
print(df)

RangeIndex(start=1, stop=5, step=1)
Index(['코드', '이름', '가격'], dtype='object')
   코드  이름     가격
1   1  수박  30000
2   2  참외   5000
3   3  딸기  10000
4   4  키위  20000

In [22]:
#head나 tail 함수는 데이터가 제대로 불려져 왔는지 확인할 때 이용
print(df.head(2))
print(df.tail(2))
#이 데이터를 갖고 머신러닝을 하고자 하면 머신러닝은 numpy의 ndarray 로만 가능
print(type(df.values))
#데이터 분석을 하기전에 데이터를 가져왔으면 데이터에 대한 정보를 확인
df.info()

   코드  이름     가격
1   1  수박  30000
2   2  참외   5000
   코드  이름     가격
3   3  딸기  10000
4   4  키위  20000
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 1 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코드      4 non-null      int64
 1   이름      4 non-null      object
 2   가격      4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes