In [2]:
import numpy as np
import pandas as pd

### csv 저장

In [5]:
items = {
    'code':[1, 2, 3],
    'name':['apple', 'watermelon', 'kiwi'],
    'price':[3000, 20000, 2500]
}

df = pd.DataFrame(items)
print(df)

   code        name  price
0     1       apple   3000
1     2  watermelon  20000
2     3        kiwi   2500

In [6]:
import os
print(os.getcwd())

/Users/m1

In [9]:
df.to_csv('./data/pddata.csv')

# 엑셀 파일 사용

In [12]:
#첫번째 열을 인덱스로 활용하도록 읽기
df = pd.read_excel('./data/excel.xlsx', index_col = 0, sheet_name='Sheet1')
print(df)

                            이름   1과목   2과목   3과목
번호
1                          이효준  40.0   NaN  45.0
2                          김성희  42.0  55.0  50.0
3                          이연숙   NaN  60.0  55.0
4                          노화현  50.0  70.0  60.0
5                          최희순  55.0  75.0   NaN
6                          정원주  60.0  80.0  70.0

In [16]:
writer = pd.ExcelWriter('./data/excelwriter.xlsx')
df.to_excel(writer)
writer.save()

/var/folders/bq/22f7j5dn6x5dcpn8t77q8t4h0000gn/T/ipykernel_61044/160634885.py:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [18]:
print(dir(writer))

['__abstractmethods__', '__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__fspath__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_abc_impl', '_book', '_convert_to_alignment', '_convert_to_border', '_convert_to_color', '_convert_to_fill', '_convert_to_font', '_convert_to_number_format', '_convert_to_protection', '_convert_to_side', '_convert_to_stop', '_convert_to_style_kwargs', '_cur_sheet', '_date_format', '_datetime_format', '_deprecate', '_deprecate_set_book', '_docstring_components', '_engine', '_get_sheet_name', '_handles', '_if_sheet_exists', '_mode', '_path', '_save', '_supported_extensions', '_value_with_fmt', '_write_cells', 'book', 'check_extension', 'close', 'cur_sheet', 'date_format', 'datetime_format', 'engine', 'handles', 'if_sheet_exists', 'path', 'save', 'sheets', 'supported_extensions', 'write_cells']

# HTML의 테이블 읽기

In [23]:
li = pd.read_html("https://ko.wikipedia.org/wiki/%EC%84%B8%EA%B3%84_%EC%9D%B8%EA%B5%AC")
print(li)

[         연도 디비 (Deevey, 1960) 맥에브디와 존즈 (McEvedy and Jones, 1978)  \
         연도 디비 (Deevey, 1960) 맥에브디와 존즈 (McEvedy and Jones, 1978)
0      B.C.                 -                                  -
1   1000000             0.125                                  -
2    300000                 1                                  -
3    250000              3.34                                  -
4    100000                 -                                  5
5      8000              5.32                                  -
6      5000                 -                                  5
7      4000              86.5                                  7
8      3000                 -                                 14
9      2000                 -                                 27
10     1000                 -                                 50
11      500                 -                                100
12      400                 -                                  -
13      200                 -                                150
14     A.D.                 -                                  -
15        1               133                                170
16      200                 -                                190
17      400                 -                                  -
18      500                 -                                190
19      600                 -                                200
20      700                 -                                210
21      800                 -                                220
22      900                 -                                240
23     1000             - 390                                NaN

   듀란 (Durand, 1977)      클라크 (Clark, 1977) 비라벤 (Biraben, 1979)  \
                  저위   고위 클라크 (Clark, 1977) 비라벤 (Biraben, 1979)
0                  -    -                 -                   -
1                  -    -                 -                   -
2                  -    -                 -                   -
3                  -    -                 -                   -
4                  -    -                 -                   -
5                  -    -                 -                   -
6                  -    -                 -                   -
7                  -    -                 -                   -
8                  -    -                 -                   -
9                  -    -                 -                   -
10                 -    -                 -                   -
11                 -    -                 -                   -
12                 -    -                 -                 153
13                 -    -                 -                 225
14                 -    -                 -                   -
15               270  330               256                 252
16                 -    -                 -                 257
17                 -    -                 -                 153
18                 -    -                 -                 207
19                 -    -               237                 208
20                 -    -                 -                 206
21                 -    -               261                 224
22                 -    -                 -                 222
23               NaN  NaN               NaN                 NaN

   블락스터 (Blaxter, 1986) 크레머 (Kremer, 1993)
   블락스터 (Blaxter, 1986) 크레머 (Kremer, 1993)
0                     -                  -
1                     -              0.125
2                     -                  1
3                     -               3.34
4                     -                  4
5                     -                  -
6                    40                  5
7                     -                 15
8                     -                 14
9                    70                 27
10                  100                 50
11                    -                100
12                  162                  -
13                  231                150
14                    -                  -
15                  255                170
16                  256                190
17                  162                  -
18                    -                  -
19                  206                200
20                  207                  -
21                  100                220
22                  226                  -
23                  NaN                NaN  ,           시기      세계 인구                      비고
0   BC 4000년    1,500만명                    농경문화
1   BC 2000년    5,000만명                   4대 문명
2   BC 1000년        1억명                    철기문명
3    BC 500년  1억 4000만명             그리스,춘추 전국시대
4        기원년        2억명  로마 약 7,000만명,한나라 약 1억명
5   AD 1000년        3억명            봉건 중세시대, 송나라
6   AD 1392년        5억명          열병기 보급, 신대륙 발견
7   AD 1700년       10억명            산업혁명, 식민지 팽창
8   AD 1900년       20억명                 2차 산업혁명
9   AD 1959년       30억명                     NaN
10  AD 1974년       40억명                     NaN
11  AD 1987년       50억명                     NaN
12  AD 1999년       60억명                     NaN
13  AD 2011년       70억명                     NaN
14  AD 2022년    80억명[5]                     NaN,        연도     기원년   1000년      1500년      1600년      1700년      1820년  \
0      미국     NaN     NaN        NaN        NaN        NaN       980만
1      일본    300만    800만     1,800만     2,200만     2,800만     3,300만
2      중국  5,900만  5,900만    1억 300만  1억 6,000만  1억 3,800만  3억 8,000만
3      인도  7,500만  7,500만  1억 1,000만  1억 3,500만  1억 6,500만    2억 900만
4      영국     NaN     NaN       380만       560만        NaN     1,040만
5     프랑스     NaN     NaN     1,600만     1,800만     2,100만     3,300만
6      독일     NaN     NaN     1,600만     2,000만     1,500만     2,700만
7     러시아     NaN     NaN        NaN     1,400만     1,400만     4,000만
8      한국    160만    390만       800만       900만     1,200만     1,400만
9   인도네시아    280만    520만     1,070만     1,170만     1,310만     1,610만
10     세계    1.9억    3.1억       2.8억       6.0억       6.8억       8.1억

        1900년      1940년 Unnamed: 9 Unnamed: 10 Unnamed: 11
0      7,500만  1억 5,000만        NaN         NaN         NaN
1      4,300만     8,000만        NaN         NaN         NaN
2          4억  5억 8,000만        NaN         NaN         NaN
3   3억 3,000만        NaN        NaN         NaN         NaN
4      3,300만     3,800만        NaN         NaN         NaN
5      3,800만     5,000만        NaN         NaN         NaN
6      5,600만     6,500만        NaN         NaN         NaN
7      7,100만  1억 3,000만        NaN         NaN         NaN
8      1,700만     2,900만        NaN         NaN         NaN
9         NaN        NaN        NaN         NaN         NaN
10      10.0억      11.6억      13.1억         17억         24억  ,       연도           인구
0   2023   8020890338
1   2024   8098605255
2   2025   8114437453
3   2026   8359276651
4   2027   8393078318
..   ...          ...
76  2099  10872284134
77  2100  10875393719
78  2101  10877000004
79  2102  10899572951
80  2103  11000000951

[81 rows x 2 columns],                 0            1            2            3             4  \
0           지역/연도         1950         2020         2050          2080
1            아프리카   2억 2779만 명  13억 4059만 명  22억 8385만 명   36억 8057만 명
2             아시아   14억 490만 명  46억 4105만 명  52억 9026만 명   50억 6851만 명
3              유럽   5억 4932만 명   7억 4763만 명   7억 1048만 명    6억 4958만 명
4  라틴 아메리카 및 카리브해   1억 6882만 명   6억 5396만 명   7억 6243만 명    7억 3862만 명
5           북아메리카   1억 7260만 명   3억 6887만 명   4억 2520만 명    4억 6763만 명
6           오세아니아      1297만 명      4267만 명      5737만 명       6897만 명
7            전 세계  25억 3643만 명  77억 9479만 명  97억 3503만 명  106억 7390만 명

              5
0          2100
1   42억 8012만 명
2   47억 1990만 명
3    6억 2956만 명
4    6억 7999만 명
5    4억 9088만 명
6       7491만 명
7  108억 7539만 명  ,                지역 2020–25 2045–50 2095–2100
0            아프리카    2.37    1.74      0.61
1             아시아    0.77    0.14     −0.39
2              유럽   −0.05   −0.26     −0.14
3  라틴 아메리카 및 카리브해    0.84    0.21     −0.46
4           북아메리카    0.59    0.38      0.25
5           오세아니아    1.21    0.80      0.37
6            전 세계    0.98    0.53      0.04,       0                   1                   2                       3  \
0   NaN                1990                2019                    2050
1    1위    중국 (11억 7770만 명)    중국 (14억 3400만 명)        인도 (16억 3900만 명)
2    2위     인도 (8억 7300만 명)    인도 (13억 6600만 명)         중국 (14억 200만 명)
3    3위     미국 (2억 5200만 명)     미국 (3억 2900만 명)       나이지리아 (4억 100만 명)
4    4위  인도네시아 (1억 8100만 명)  인도네시아 (2억 7100만 명)         미국 (3억 7900만 명)
5    5위    브라질 (1억 4900만 명)   파키스탄 (2억 1700만 명)       파키스탄 (3억 3800만 명)
6    6위    러시아 (1억 4800만 명)    브라질 (2억 1100만 명)      인도네시아 (3억 3100만 명)
7    7위     일본 (1억 2500만 명)   나이지리아 (2억 100만 명)        브라질 (2억 2900만 명)
8    8위    파키스탄 (1억 800만 명)  방글라데시 (1억 6300만 명)       에티오피아 (2억 500만 명)
9    9위   방글라데시 (1억 300만 명)    러시아 (1억 4600만 명)  콩고 민주 공화국 (1억 9400만 명)
10  10위     나이지리아 (9500만 명)    멕시코 (1억 2800만 명)      방글라데시 (1억 9300만 명)

                         4
0                     2100
1         인도 (14억 5000만 명)
2         중국 (10억 6500만 명)
3       나이지리아 (7억 3300만 명)
4          미국 (4억 3400만 명)
5         파키스탄 (4억 300만 명)
6   콩고 민주 공화국 (3억 6200만 명)
7       인도네시아 (3억 2100만 명)
8       에티오피아 (2억 9400만 명)
9        탄자니아 (2억 8600만 명)
10        이집트 (2억 2500만 명)  ,            0   1
0  전거 통제: 국가  독일]



# 파이썬 기본 라이브러리 이용

In [1]:
import urllib.request
from urllib.parse import quote

#인코딩
keyword = quote("사이버가수아담")

#데이터 읽어오기
response = urllib.request.urlopen("https://search.hani.co.kr/search?searchword=%EC%82%AC%EC%9D%B4%EB%B2%84%EA%B0%80%EC%88%98%EC%95%84%EB%8B%B4&sort=desc&startdate=1988.01.01&enddate=2023.08.09")
+ keyword + 

#읽은 정보를 저장
data = response.read()
#print(data) #바로 출력했더니 인코딩 문제가 발생

#데이터의 인코딩을 확인해서 인코딩 설정해서 읽기
encoding = response.info().get_content_charset()
html = data.decode(encoding)
print(html)

SyntaxError: invalid syntax (2628843905.py, line 9)

# Request 모듈 - 파이썬의 기본 모듈이 아님

In [3]:
import requests
#get 방식 요청
response = requests.get('http://httpbin.org/get')
print(response.text)

{
  "args": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.29.0",
    "X-Amzn-Trace-Id": "Root=1-64d2f063-79bc6fca741594f352aa6fb3"
  },
  "origin": "1.220.201.108",
  "url": "http://httpbin.org/get"
}

In [7]:
#post 방식
#전송할 파라미터 만들기
dic = {"id":"itstudy", "name":"박문석", "alias":"adam"}
#요청을 하고 응답 받기
response = requests.post('http://httpbin.org/post', data=dic)
print(response.text)

{
  "args": {},
  "data": "",
  "files": {},
  "form": {
    "alias": "adam",
    "id": "itstudy",
    "name": "\ubc15\ubb38\uc11d"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Content-Length": "54",
    "Content-Type": "application/x-www-form-urlencoded",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.29.0",
    "X-Amzn-Trace-Id": "Root=1-64d2f0c5-328ecff52632420e2a536a62"
  },
  "json": null,
  "origin": "1.220.201.108",
  "url": "http://httpbin.org/post"
}

# html 파싱

In [ ]:
import requests, bs4

try:
    #url이 잘못되었거나 네트워크 연결이 안되면 예외가 발생
    response = requests.get('http://finance.daum.net')
    
    #파싱 가능한지 확인 - 파싱이 불가능하면 예외가 발생
    bs = bs4.BeautifulSoup(response.text, 'html.parser')

except Exception as e:
    print("예외 발생:", e)

else:
    print(bs.body.strong.get_text())

In [ ]:
#네이버 팟캐스트에서 원하는 데이터 가져오기
try:
    response = requests.get("https://tv.naver.com/r/category/drama")
    html = response.text
    
    #html 파싱 객체 생성
    bs = bs4.BeautifulSoup(html, 'html.parser')
    #print(bs)
    #선택자에 해당하는 부분만 가져오기
    tags = bs.select("a > strong > span")
    
    for tag in tags:
        print(tag.getText())
    
except Exception as e:
    print("예외 발생:", e)

In [35]:
#크롬 브라우저 실행
from selenium import webdriver
import os
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import bs4

os.environ['webdriver.chrome.driver'] = 'Users\m1\Downloads\chromedriver-mac-arm64'
driver = webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=%EA%B9%80%EC%97%B0%EA%B2%BD")

#스크롤 할 개수
num_of_pagedowns = 10

while num_of_pagedowns:
    #body 태그에 PAGE_DOWN을 전송해서 하단으로 드래그
    driver.find_element(By.TAG_NAME, 'body').send_keys(Keys.PAGE_DOWN)
    time.sleep(3)
    num_of_pagedowns -= 1

#10번 스크롤 한 결과를 읽어오기
html = bs4.BeautifulSoup(driver.page_source, 'html.parser')
print(html)

while(True):
    pass

AttributeError: 'NoneType' object has no attribute 'send_keys'

In [63]:
import xml.etree.ElementTree as et #XML 파싱을 위한 import
import urllib.request #웹에서 문자열 다운로드 받기 위해서 import
import pandas as pd

In [54]:
#데이터 다운로드
url = 'http://www.hani.co.kr/rss/sports'
request = urllib.request.Request(url)
response = urllib.request.urlopen(request)
#print(response.read())

In [55]:
#루트를 찾기
tree = et.parse(response)
xroot = tree.getroot()
print(xroot)

<Element 'rss' at 0x108b1d260>

In [56]:
#찾고자 하는 태그의 내용을 가져오기
channel = xroot.findall('channel')
print(channel)

[<Element 'channel' at 0x1192dcef0>]

In [58]:
#channel의 0번 데이터에서 item 태그의 내용 찾아오기
items = channel[0].findall('item')
print(items)

[<Element 'item' at 0x1192df290>, <Element 'item' at 0x1192def20>, <Element 'item' at 0x1192dec00>, <Element 'item' at 0x1192de980>, <Element 'item' at 0x1192de700>, <Element 'item' at 0x1192de0c0>, <Element 'item' at 0x1192dde90>, <Element 'item' at 0x1192ddee0>, <Element 'item' at 0x1192ddcb0>, <Element 'item' at 0x1192dd990>, <Element 'item' at 0x1192dd760>, <Element 'item' at 0x1192dd4e0>, <Element 'item' at 0x1192dc9f0>, <Element 'item' at 0x1192e6ac0>, <Element 'item' at 0x1192e6110>, <Element 'item' at 0x1192e5ee0>, <Element 'item' at 0x1192e5e90>, <Element 'item' at 0x1192e5c10>, <Element 'item' at 0x1192e5760>, <Element 'item' at 0x1192e54e0>, <Element 'item' at 0x1192e4fe0>, <Element 'item' at 0x1192e4d60>, <Element 'item' at 0x1192e4ef0>, <Element 'item' at 0x1192e48b0>, <Element 'item' at 0x1192e4540>, <Element 'item' at 0x1192e4220>, <Element 'item' at 0x1192e41d0>, <Element 'item' at 0x1192f36a0>, <Element 'item' at 0x1192f3920>, <Element 'item' at 0x1192f3b50>]

In [65]:
rows = []
for node in items:
    s_title = node.find('title').text
    s_link = node.find('link').text
    print(s_title, s_link)
    rows.append({"title":s_title, "link":s_link})
df = pd.DataFrame(rows, columns=["title", "link"])
print(df)

홈런 1위 노시환, 한화 선수 5년 만의 월간 MVP http://www.hani.co.kr/arti/sports/baseball/1103633.html
장현석, 다저스와 90만달러 입단 계약…“명문 구단 입단 영광” http://www.hani.co.kr/arti/sports/baseball/1103621.html
리빌딩 나선 PSG, 메시·음바페 이어 네이마르도 ‘헤어질 결심’ http://www.hani.co.kr/arti/sports/soccer/1103468.html
강습 타구 맞은 류현진 “무릎에 멍들었지만 괜찮다” http://www.hani.co.kr/arti/sports/baseball/1103465.html
김하성 15경기 연속 멀티 출루…이치로와 타이 기록 http://www.hani.co.kr/arti/sports/baseball/1103449.html
클리블랜드전 무피안타 류현진, 강습 타구에 무릎 맞고 교체 http://www.hani.co.kr/arti/sports/baseball/1103415.html
수원FC 공격수 라스 음주운전 적발…“징계·후속 조치할 것” http://www.hani.co.kr/arti/sports/soccer/1103324.html
류현진, 시즌 첫 승 노린다…8일 클리블랜드전 등판 http://www.hani.co.kr/arti/sports/baseball/1103293.html
조규성, 덴마크 데뷔 뒤 3경기 연속골…팀 열세 속 빛난 만회포 http://www.hani.co.kr/arti/sports/soccer/1103255.html
‘부상 투혼’ 김효주, LPGA 스코틀랜드 여자오픈 준우승 http://www.hani.co.kr/arti/sports/golf/1103254.html
‘최강’ 미국 여자축구, 16강 승부차기 끝에 스웨덴에 패배 http://www.hani.co.kr/arti/sports/soccer/1103235.html
‘제주의 딸’ 임진희, 삼다수 마스터스 우승 http://www.hani.co.kr/arti/sports/golf/1103202.html
궤도 오른 프로당구…‘심야 편성’에 팬 반발 커져 http://www.hani.co.kr/arti/sports/sports_general/1103201.html
결승전서 21점 뽑아낸 강소휘…MVP도 3번째 수상 http://www.hani.co.kr/arti/sports//1103188.html
공격 돌파구 날린 천가람 “더 강한 선수 되겠다” http://www.hani.co.kr/arti/sports/soccer/1103145.html
GS칼텍스, 기업은행에 3-1 설욕…6번째 KOVO컵 정상 http://www.hani.co.kr/arti/sports//1103131.html
승패 가른 김가영 샷…“초클루와 연습한 공 나와 짜릿했어요” http://www.hani.co.kr/arti/sports/sports_general/1103099.html
KBO리그 500만 관중 돌파…평균 관중 1만1033명 http://www.hani.co.kr/arti/sports/baseball/1103095.html
기업은행, 3-1로 인삼공사 꺾고 결승행…GS칼텍스와 맞대결 http://www.hani.co.kr/arti/sports//1103093.html
김연경·박인비 등 6명, IOC 선수위원 ‘국내 후보’ 등록 http://www.hani.co.kr/arti/sports/sports_general/1103092.html
GS칼텍스, 3-1로 현대건설 꺾고 결승행…KOVO컵 2연패 도전 http://www.hani.co.kr/arti/sports//1103079.html
기적도 치욕도 반복된다…여자월드컵 강타한 ‘언더도그 돌풍’ http://www.hani.co.kr/arti/sports/soccer/1103055.html
오타니, 시즌 40호 홈런…오른손 경련으로 투구는 4이닝만 http://www.hani.co.kr/arti/sports/baseball/1103047.html
KBO리그 500만 관중 오늘 돌파…10개 구단 관중수입 762억 http://www.hani.co.kr/arti/sports/baseball/1103042.html
에스와이 여성 삼총사 “산체스 정말 ‘진국’…팀 분위기 최고” http://www.hani.co.kr/arti/sports/sports_general/1103014.html
‘오기상’이 그리는 안산의 새로운 배구…웃으면서 해도 “OK” http://www.hani.co.kr/arti/sports//1102999.html
여자축구 조소현, 한국 첫·마지막 골 쐈다…독일 탈락시켜 http://www.hani.co.kr/arti/sports/soccer/1102962.html
네이마르 2골1도움·이강인 24분…PSG, 부산을 파리로 만들다 http://www.hani.co.kr/arti/sports/soccer/1102946.html
조기성, 세계장애인선수권 개인혼영 150ｍ 은메달 http://www.hani.co.kr/arti/sports/sports_general/1102897.html
여자축구 1년 수입 ‘톱’ 15명 합쳐도…호날두 3분의 1도 안 돼 http://www.hani.co.kr/arti/sports/soccer/1102887.html
                                    title  \
0           홈런 1위 노시환, 한화 선수 5년 만의 월간 MVP
1     장현석, 다저스와 90만달러 입단 계약…“명문 구단 입단 영광”
2    리빌딩 나선 PSG, 메시·음바페 이어 네이마르도 ‘헤어질 결심’
3            강습 타구 맞은 류현진 “무릎에 멍들었지만 괜찮다”
4            김하성 15경기 연속 멀티 출루…이치로와 타이 기록
5        클리블랜드전 무피안타 류현진, 강습 타구에 무릎 맞고 교체
6       수원FC 공격수 라스 음주운전 적발…“징계·후속 조치할 것”
7            류현진, 시즌 첫 승 노린다…8일 클리블랜드전 등판
8     조규성, 덴마크 데뷔 뒤 3경기 연속골…팀 열세 속 빛난 만회포
9        ‘부상 투혼’ 김효주, LPGA 스코틀랜드 여자오픈 준우승
10      ‘최강’ 미국 여자축구, 16강 승부차기 끝에 스웨덴에 패배
11               ‘제주의 딸’ 임진희, 삼다수 마스터스 우승
12            궤도 오른 프로당구…‘심야 편성’에 팬 반발 커져
13           결승전서 21점 뽑아낸 강소휘…MVP도 3번째 수상
14            공격 돌파구 날린 천가람 “더 강한 선수 되겠다”
15       GS칼텍스, 기업은행에 3-1 설욕…6번째 KOVO컵 정상
16      승패 가른 김가영 샷…“초클루와 연습한 공 나와 짜릿했어요”
17         KBO리그 500만 관중 돌파…평균 관중 1만1033명
18      기업은행, 3-1로 인삼공사 꺾고 결승행…GS칼텍스와 맞대결
19      김연경·박인비 등 6명, IOC 선수위원 ‘국내 후보’ 등록
20   GS칼텍스, 3-1로 현대건설 꺾고 결승행…KOVO컵 2연패 도전
21       기적도 치욕도 반복된다…여자월드컵 강타한 ‘언더도그 돌풍’
22       오타니, 시즌 40호 홈런…오른손 경련으로 투구는 4이닝만
23   KBO리그 500만 관중 오늘 돌파…10개 구단 관중수입 762억
24     에스와이 여성 삼총사 “산체스 정말 ‘진국’…팀 분위기 최고”
25     ‘오기상’이 그리는 안산의 새로운 배구…웃으면서 해도 “OK”
26        여자축구 조소현, 한국 첫·마지막 골 쐈다…독일 탈락시켜
27    네이마르 2골1도움·이강인 24분…PSG, 부산을 파리로 만들다
28            조기성, 세계장애인선수권 개인혼영 150ｍ 은메달
29  여자축구 1년 수입 ‘톱’ 15명 합쳐도…호날두 3분의 1도 안 돼

                                                 link
0   http://www.hani.co.kr/arti/sports/baseball/110...
1   http://www.hani.co.kr/arti/sports/baseball/110...
2   http://www.hani.co.kr/arti/sports/soccer/11034...
3   http://www.hani.co.kr/arti/sports/baseball/110...
4   http://www.hani.co.kr/arti/sports/baseball/110...
5   http://www.hani.co.kr/arti/sports/baseball/110...
6   http://www.hani.co.kr/arti/sports/soccer/11033...
7   http://www.hani.co.kr/arti/sports/baseball/110...
8   http://www.hani.co.kr/arti/sports/soccer/11032...
9   http://www.hani.co.kr/arti/sports/golf/1103254...
10  http://www.hani.co.kr/arti/sports/soccer/11032...
11  http://www.hani.co.kr/arti/sports/golf/1103202...
12  http://www.hani.co.kr/arti/sports/sports_gener...
13    http://www.hani.co.kr/arti/sports//1103188.html
14  http://www.hani.co.kr/arti/sports/soccer/11031...
15    http://www.hani.co.kr/arti/sports//1103131.html
16  http://www.hani.co.kr/arti/sports/sports_gener...
17  http://www.hani.co.kr/arti/sports/baseball/110...
18    http://www.hani.co.kr/arti/sports//1103093.html
19  http://www.hani.co.kr/arti/sports/sports_gener...
20    http://www.hani.co.kr/arti/sports//1103079.html
21  http://www.hani.co.kr/arti/sports/soccer/11030...
22  http://www.hani.co.kr/arti/sports/baseball/110...
23  http://www.hani.co.kr/arti/sports/baseball/110...
24  http://www.hani.co.kr/arti/sports/sports_gener...
25    http://www.hani.co.kr/arti/sports//1102999.html
26  http://www.hani.co.kr/arti/sports/soccer/11029...
27  http://www.hani.co.kr/arti/sports/soccer/11029...
28  http://www.hani.co.kr/arti/sports/sports_gener...
29  http://www.hani.co.kr/arti/sports/soccer/11028...

In [67]:
help(pd.read_json)

Help on function read_json in module pandas.io.json._json:

read_json(path_or_buf: 'FilePath | ReadBuffer[str] | ReadBuffer[bytes]', *, orient: 'str | None' = None, typ: "Literal['frame', 'series']" = 'frame', dtype: 'DtypeArg | None' = None, convert_axes=None, convert_dates: 'bool | list[str]' = True, keep_default_dates: 'bool' = True, numpy: 'bool' = False, precise_float: 'bool' = False, date_unit: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', lines: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', nrows: 'int | None' = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | Series | JsonReader'
    Convert a JSON string to pandas object.

    Parameters
    ----------
    path_or_buf : a valid JSON str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be:
        ``file://localhost/path/to/table.json``.

        If you want to pass in a path object, pandas accepts any
        ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    orient : str
        Indication of expected JSON string format.
        Compatible JSON strings can be produced by ``to_json()`` with a
        corresponding orient value.
        The set of possible orients is:

        - ``'split'`` : dict like
          ``{index -> [index], columns -> [columns], data -> [values]}``
        - ``'records'`` : list like
          ``[{column -> value}, ... , {column -> value}]``
        - ``'index'`` : dict like ``{index -> {column -> value}}``
        - ``'columns'`` : dict like ``{column -> {index -> value}}``
        - ``'values'`` : just the values array

        The allowed and default values depend on the value
        of the `typ` parameter.

        * when ``typ == 'series'``,

          - allowed orients are ``{'split','records','index'}``
          - default is ``'index'``
          - The Series index must be unique for orient ``'index'``.

        * when ``typ == 'frame'``,

          - allowed orients are ``{'split','records','index',
            'columns','values', 'table'}``
          - default is ``'columns'``
          - The DataFrame index must be unique for orients ``'index'`` and
            ``'columns'``.
          - The DataFrame columns must be unique for orients ``'index'``,
            ``'columns'``, and ``'records'``.

    typ : {'frame', 'series'}, default 'frame'
        The type of object to recover.

    dtype : bool or dict, default None
        If True, infer dtypes; if a dict of column to dtype, then use those;
        if False, then don't infer dtypes at all, applies only to the data.

        For all ``orient`` values except ``'table'``, default is True.

        .. versionchanged:: 0.25.0

           Not applicable for ``orient='table'``.

    convert_axes : bool, default None
        Try to convert the axes to the proper dtypes.

        For all ``orient`` values except ``'table'``, default is True.

        .. versionchanged:: 0.25.0

           Not applicable for ``orient='table'``.

    convert_dates : bool or list of str, default True
        If True then default datelike columns may be converted (depending on
        keep_default_dates).
        If False, no dates will be converted.
        If a list of column names, then those columns will be converted and
        default datelike columns may also be converted (depending on
        keep_default_dates).

    keep_default_dates : bool, default True
        If parsing dates (convert_dates is not False), then try to parse the
        default datelike columns.
        A column label is datelike if

        * it ends with ``'_at'``,

        * it ends with ``'_time'``,

        * it begins with ``'timestamp'``,

        * it is ``'modified'``, or

        * it is ``'date'``.

    numpy : bool, default False
        Direct decoding to numpy arrays. Supports numeric data only, but
        non-numeric column and index labels are supported. Note also that the
        JSON ordering MUST be the same for each term if numpy=True.

        .. deprecated:: 1.0.0

    precise_float : bool, default False
        Set to enable usage of higher precision (strtod) function when
        decoding string to double values. Default (False) is to use fast but
        less precise builtin functionality.

    date_unit : str, default None
        The timestamp unit to detect if converting dates. The default behaviour
        is to try and detect the correct precision, but if this is not desired
        then pass one of 's', 'ms', 'us' or 'ns' to force parsing only seconds,
        milliseconds, microseconds or nanoseconds respectively.

    encoding : str, default is 'utf-8'
        The encoding to use to decode py3 bytes.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    lines : bool, default False
        Read the file as a json object per line.

    chunksize : int, optional
        Return JsonReader object for iteration.
        See the `line-delimited json docs
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#line-delimited-json>`_
        for more information on ``chunksize``.
        This can only be passed if `lines=True`.
        If this is None, the file will be read into memory all at once.

        .. versionchanged:: 1.2

           ``JsonReader`` is a context manager.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    nrows : int, optional
        The number of lines from the line-delimited jsonfile that has to be read.
        This can only be passed if `lines=True`.
        If this is None, all the rows will be returned.

        .. versionadded:: 1.1

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    Series or DataFrame
        The type returned depends on the value of `typ`.

    See Also
    --------
    DataFrame.to_json : Convert a DataFrame to a JSON string.
    Series.to_json : Convert a Series to a JSON string.
    json_normalize : Normalize semi-structured JSON data into a flat table.

    Notes
    -----
    Specific to ``orient='table'``, if a :class:`DataFrame` with a literal
    :class:`Index` name of `index` gets written with :func:`to_json`, the
    subsequent read operation will incorrectly set the :class:`Index` name to
    ``None``. This is because `index` is also used by :func:`DataFrame.to_json`
    to denote a missing :class:`Index` name, and the subsequent
    :func:`read_json` operation cannot distinguish between the two. The same
    limitation is encountered with a :class:`MultiIndex` and any names
    beginning with ``'level_'``.

    Examples
    --------
    >>> df = pd.DataFrame([['a', 'b'], ['c', 'd']],
    ...                   index=['row 1', 'row 2'],
    ...                   columns=['col 1', 'col 2'])

    Encoding/decoding a Dataframe using ``'split'`` formatted JSON:

    >>> df.to_json(orient='split')
        '{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}'
    >>> pd.read_json(_, orient='split')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> df.to_json(orient='index')
    '{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

    >>> pd.read_json(_, orient='index')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> df.to_json(orient='records')
    '[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'
    >>> pd.read_json(_, orient='records')
      col 1 col 2
    0     a     b
    1     c     d

    Encoding with Table Schema

    >>> df.to_json(orient='table')
        '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row 2","col 1":"c","col 2":"d"}]}'

In [77]:
df = pd.read_json('http://swiftapi.rubypaper.co.kr:2029/hoppin/movies?version=1&page=1&count=10&genreId=&order=releasedateasc')
#print(df)

hoppin = df['hoppin']
#print(hoppin)

movies = hoppin['movies']
#print(movies)

movie = movies['movie']
#print(movie)

for temp in movie:
    print(temp['title'])

인포먼트
엣지 오브 다크니스
베이비 돌
황야의 역마차
전원 교향곡
아버지의 깃발
여덟번의감정
레드
영광의 탈출
크로싱

In [78]:
#최신 라이브러리를 사용하면 이런 경우에도 데이터프레임으로 잘 변환이 되지만
#컬럼에 객체가 존재하는 경우 제대로 파싱이 수행되지 않는 경우가 있음
#컬럼 이름에 객체가 존재하는 경우는 orient 옵션에 columns를 설정하면 됩니다.
df = pd.read_json('https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json')
print(df)

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
2         9 2015-01-01 00:00:02         0
3         6 2015-01-01 00:00:03         0
4         6 2015-01-01 00:00:04         0
..      ...                 ...       ...
95        9 2015-01-01 00:01:35         0
96        8 2015-01-01 00:01:36         0
97        6 2015-01-01 00:01:37         0
98        8 2015-01-01 00:01:38         0
99        1 2015-01-01 00:01:39         0

[100 rows x 3 columns]

# 카카오 Open API 가져오기

In [86]:
#c9c84cac73fdf3486202627ad13c5a6a

import requests
import json

url = 'https://dapi.kakao.com/v2/local/search/category.json?category_group_code=PM9&rect=126.95,37.55,127.0,37.60'

#전송할 헤더 만들기
headers = {'Authorization' : 'KakaoAK c9c84cac73fdf3486202627ad13c5a6a'}

data = requests.post(url, headers=headers)
result = json.loads(data.text)

for data in result['documents']:
    print(data['place_name'], end='\t')
    print(data['address_name'])

남시약국	서울 중구 남대문로3가 30-15
평화약국	서울 중구 남대문로4가 18-11
수도약국	서울 종로구 관훈동 37
종로약국	서울 종로구 종로4가 8
서울중앙약국	서울 용산구 동자동 43-205
서울왕약국	서울 중구 남창동 2-3
왕솔약국	서울 중구 회현동1가 202-1
우정약국	서울 종로구 종로4가 176-1
삼원온누리약국	서울 종로구 신문로1가 1
새원약국	서울 중구 명동1가 33
종오약국	서울 종로구 종로4가 7
남대문약국	서울 중구 남대문로3가 30-7
종각호약국	서울 종로구 종로2가 75-6
푸른온누리약국	서울 종로구 평동 180
서대문권약국	서울 종로구 평동 169