# yaml 파일 읽기
## 패키지 설치 - pip install pyyaml

In [101]:
import pandas as pd
import yaml
with open('./data/vegetables.yml') as f:
    vegetables = yaml.load(f, Loader = yaml.FullLoader)
    print(vegetables)

{'Vegetables': ['Pepper', 'Tomato', 'Garlic']}

### MySQL의 테이블을 가지고 DataFrame 만들기

In [102]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()
import MySQLdb

#연결
connect = create_engine('mysql+mysqldb://root:wnddkd@localhost/grace')
dataframe = pd.read_sql_table('dbms', connect)
print(dataframe)

   num         name       vendor                   description
0    1          오라클       Oracle           가장 안정적이라고 알려진 RDBMS
1    2        MySQL       Oracle   가장 많이 사용된 Open Source RDBMS
2    3      MariaDB  Open Source                   MySQL의 fork
3    4      HANA DB          SAP             현대 자동차가 선택한 RDBMS
4    5  Postgre SQL  Open Source  최근 많이 사용되는 Open Source RDBMS
5    6     Mongo DB       10 gen    많이 사용되는 Document 지향 No SQL
6    7        redis  Open Source                  In Memory DB

# Mongo DB 연동

In [14]:
from pymongo import MongoClient
#Mongo DB 연결
conn = MongoClient('127.0.0.1')
#데이터베이스 연결
db = conn.mymongo
#컬렉션 연결
collection = db.echo
#데이터 가져오기
result = collection.find()
print(result)

#커서를 순회하면서 각 데이터를 list에 삽입한 후 DataFrame으로 변환
li = []
for r in result:
    del r['_id']
    li.append(r)

echo = pd.DataFrame(li)
print(echo)

<pymongo.cursor.Cursor object at 0x12f66e850>
    num       name        function
0     1       HDFS       분산 데이터 저장
1     2    Chuckwa      비정형 데이터 수집
2     3      Flume      비정형 데이터 수집
3     4      Sqoop       정형 데이터 수집
4     5  MapReduce       분산 데이터 처리
5     6      HBase       분산 데이터베이스
6     7       Hive   데이터 웨어하우징 솔루션
7     8     Mahout         데이터 마이닝
8     9   Zookiper        분산 코디네이터
9    10      Kafka         메시지 브로커
10   11      Spark  클러스터 컴퓨팅 프레임워크

In [15]:
import pyreadstat
#데이터와 메타 데이터 가져오기
#이 함수는 데이터와 메타 데이터를 튜플로 리턴하므로 변수를 나눠서 받는 것이 좋습니다.

ModuleNotFoundError: No module named 'pyreadstat'

# 데이터 탐색
선택

In [32]:
#csv 파일을 읽어서 DataFrame을 변환
df = pd.read_csv('./data/item.csv')
#print(df.head())

#인덱스 변경
#df.index = df['code']
df.index = ['사과', '수박', '참외', '바나나', '레몬', '망고']
# print(df)

#열 선택
# print(df['code'])
#하나의 열을 선택하면 기본적으로 Series
# print(type(df['code']))
#열을 선택할 때 list를 이용하면 DataFrame
# print(type(df[['code']]))

#하나의 행 선택: 하나의 행을 선택하면 Series
# print(df.loc['사과'])
# print(df.iloc[0])

#하나의 셀 선택
#열이름과 위치 인덱스를 이용해서 셀 선택
print(df['name'][0])
#인덱스와 열 이름을 이용해서 셀 선택
print(df.loc['참외', 'name'])
#위치 인덱스로만 셀 선택
print(df.iloc[1, 2])

apple
oriental melon
watermelon

In [36]:
#범위 선택: 사과부터 참외까지 - 슬라이싱
# print(df.loc['사과': '참외', 'name'])
# print(df.iloc[0:3])

#불리언 색인
print(df[df['price'] > 1000])
print(df[(df['price'] > 1000) & (df['price'] < 2000)])

#isin - list에 있는 항목은 True, 그렇지 않으면 False로 리턴
print(df['price'].isin([1000, 1500]))

    code manufacture        name  price
사과     1       korea       apple   1500
수박     2       korea  watermelon  15000
레몬     5       korea       lemon   1500
    code manufacture   name  price
사과     1       korea  apple   1500
레몬     5       korea  lemon   1500
사과      True
수박     False
참외      True
바나나    False
레몬      True
망고     False
Name: price, dtype: bool

In [52]:
#첫번째 행이 컬럼 이름이 아니라서 읽고 난 후 컬럼 이름을 설정
df = pd.read_csv('./data/noheader_auto-mpg.csv', header = None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
# print(df)
# print(df.head()) #앞의 5개 행만 출력

#데이터 개수 확인: 행과 열의 수
# print(df.shape)

#데이터의 전반적인 정보 확인
print(df.info())

#기술 통계 정보 확인
print(df.describe())

#고유한 값의 정보
print(df['mpg'].nunique()) #고유한 값의 개수 확인
print(df['mpg'].value_counts()) #값과 개수 확인
print(df['mpg'].unique()) #고유한 값들을 리턴

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000
129
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: mpg, Length: 129, dtype: int64
[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

In [61]:
#DataFrame이나 Series의 메서드나 함수가 inplace 옵션을 가지고 있으면 
#원본에 작업할지 작업을 한 후 리턴을 할 지를 결정할 수 있습니다.
#inplace에 False가 설정되면 작업을 복사본에 수행하고 리턴을 합니다.
#inplace에 True를 설정하면 원본에 작업을 수행합니다.

# df.set_index('name', inplace=True) #name을 index로 설정
# print(df)

#인덱스를 일반 컬럼으로 변경하고 정수의 일련번호로 인덱스를 수정
df.reset_index(inplace=True)
print(df)

     index                       name   mpg  cylinders  displacement  \
0        0  chevrolet chevelle malibu  18.0          8         307.0
1        1          buick skylark 320  15.0          8         350.0
2        2         plymouth satellite  18.0          8         318.0
3        3              amc rebel sst  16.0          8         304.0
4        4                ford torino  17.0          8         302.0
..     ...                        ...   ...        ...           ...
393    393            ford mustang gl  27.0          4         140.0
394    394                  vw pickup  44.0          4          97.0
395    395              dodge rampage  32.0          4         135.0
396    396                ford ranger  28.0          4         120.0
397    397                 chevy s-10  31.0          4         119.0

    horsepower  weight  acceleration  model year  origin
0        130.0  3504.0          12.0          70       1
1        165.0  3693.0          11.5          70       1
2        150.0  3436.0          11.0          70       1
3        150.0  3433.0          12.0          70       1
4        140.0  3449.0          10.5          70       1
..         ...     ...           ...         ...     ...
393      86.00  2790.0          15.6          82       1
394      52.00  2130.0          24.6          82       2
395      84.00  2295.0          11.6          82       1
396      79.00  2625.0          18.6          82       1
397      82.00  2720.0          19.4          82       1

[398 rows x 10 columns]

In [68]:
#origin 열을 제거
# df.drop('origin', axis=1, inplace=True)
# print(df.head())

#0번 행을 제거
df.drop(0, inplace=True)
print(df.head())

KeyError: '[0] not found in axis'

In [71]:
# df['색상'] = 'red'
#색상은 없는 컬럼이므로 추가. 값을 하나만 설정했으므로 모든 값이 red
# print(df.head())

# df['색상']='blue'
#색상이 존재하므로 수정
print(df.head())

#행을 수정
#df.loc[1]=5
#print(df.head())

#셀을 수정
df.loc[2, 'cylinders'] = 9
print(df.head())

   index                name   mpg  cylinders  displacement horsepower  \
1      1   buick skylark 320  15.0          8         350.0      165.0
2      2  plymouth satellite  18.0          9         318.0      150.0
3      3       amc rebel sst  16.0          8         304.0      150.0
4      4         ford torino  17.0          8         302.0      140.0
5      5    ford galaxie 500  15.0          8         429.0      198.0

   weight  acceleration  model year    색상
1  3693.0          11.5          70  blue
2  3436.0          11.0          70  blue
3  3433.0          12.0          70  blue
4  3449.0          10.5          70  blue
5  4341.0          10.0          70  blue
   index                name   mpg  cylinders  displacement horsepower  \
1      1   buick skylark 320  15.0          8         350.0      165.0
2      2  plymouth satellite  18.0          9         318.0      150.0
3      3       amc rebel sst  16.0          8         304.0      150.0
4      4         ford torino  17.0          8         302.0      140.0
5      5    ford galaxie 500  15.0          8         429.0      198.0

   weight  acceleration  model year    색상
1  3693.0          11.5          70  blue
2  3436.0          11.0          70  blue
3  3433.0          12.0          70  blue
4  3449.0          10.5          70  blue
5  4341.0          10.0          70  blue

In [74]:
print(df.T)
print(df.transpose())

#numpy에서는 T와 transpose의 기능이 다름
#numpy는 3차원 배열 이상이 있을 수 있어서 transpose를 이용해서 행과 열의 순서를 지정
#pandas에서는 2차원 배열까지만 존재하므로 T와 transpose가 동일

                            1                   2              3    \
index                         1                   2              3
name          buick skylark 320  plymouth satellite  amc rebel sst
mpg                        15.0                18.0           16.0
cylinders                     8                   9              8
displacement              350.0               318.0          304.0
horsepower                165.0               150.0          150.0
weight                   3693.0              3436.0         3433.0
acceleration               11.5                11.0           12.0
model year                   70                  70             70
색상                         blue                blue           blue

                      4                 5                 6    \
index                   4                 5                 6
name          ford torino  ford galaxie 500  chevrolet impala
mpg                  17.0              15.0              14.0
cylinders               8                 8                 8
displacement        302.0             429.0             454.0
horsepower          140.0             198.0             220.0
weight             3449.0            4341.0            4354.0
acceleration         10.5              10.0               9.0
model year             70                70                70
색상                   blue              blue              blue

                            7                 8                   9    \
index                         7                 8                   9
name          plymouth fury iii  pontiac catalina  amc ambassador dpl
mpg                        14.0              14.0                15.0
cylinders                     8                 8                   8
displacement              440.0             455.0               390.0
horsepower                215.0             225.0               190.0
weight                   4312.0            4425.0              3850.0
acceleration                8.5              10.0                 8.5
model year                   70                70                  70
색상                         blue              blue                blue

                              10   ...                         388  \
index                          10  ...                         388
name          dodge challenger se  ...  chrysler lebaron medallion
mpg                          15.0  ...                        26.0
cylinders                       8  ...                           4
displacement                383.0  ...                       156.0
horsepower                  170.0  ...                       92.00
weight                     3563.0  ...                      2585.0
acceleration                 10.0  ...                        14.5
model year                     70  ...                          82
색상                           blue  ...                        blue

                         389               390                391  \
index                    389               390                391
name          ford granada l  toyota celica gt  dodge charger 2.2
mpg                     22.0              32.0               36.0
cylinders                  6                 4                  4
displacement           232.0             144.0              135.0
horsepower             112.0             96.00              84.00
weight                2835.0            2665.0             2370.0
acceleration            14.7              13.9               13.0
model year                82                82                 82
색상                      blue              blue               blue

                           392              393        394            395  \
index                      392              393        394            395
name          chevrolet camaro  ford mustang gl  vw pickup  dodge rampage
mpg                       27.0             27.0       44.0           32.0
cylinders                    4                4          4              4
displacement             151.0            140.0       97.0          135.0
horsepower               90.00            86.00      52.00          84.00
weight                  2950.0           2790.0     2130.0         2295.0
acceleration              17.3             15.6       24.6           11.6
model year                  82               82         82             82
색상                        blue             blue       blue           blue

                      396         397
index                 396         397
name          ford ranger  chevy s-10
mpg                  28.0        31.0
cylinders               4           4
displacement        120.0       119.0
horsepower          79.00       82.00
weight             2625.0      2720.0
acceleration         18.6        19.4
model year             82          82
색상                   blue        blue

[10 rows x 397 columns]
                            1                   2              3    \
index                         1                   2              3
name          buick skylark 320  plymouth satellite  amc rebel sst
mpg                        15.0                18.0           16.0
cylinders                     8                   9              8
displacement              350.0               318.0          304.0
horsepower                165.0               150.0          150.0
weight                   3693.0              3436.0         3433.0
acceleration               11.5                11.0           12.0
model year                   70                  70             70
색상                         blue                blue           blue

                      4                 5                 6    \
index                   4                 5                 6
name          ford torino  ford galaxie 500  chevrolet impala
mpg                  17.0              15.0              14.0
cylinders               8                 8                 8
displacement        302.0             429.0             454.0
horsepower          140.0             198.0             220.0
weight             3449.0            4341.0            4354.0
acceleration         10.5              10.0               9.0
model year             70                70                70
색상                   blue              blue              blue

                            7                 8                   9    \
index                         7                 8                   9
name          plymouth fury iii  pontiac catalina  amc ambassador dpl
mpg                        14.0              14.0                15.0
cylinders                     8                 8                   8
displacement              440.0             455.0               390.0
horsepower                215.0             225.0               190.0
weight                   4312.0            4425.0              3850.0
acceleration                8.5              10.0                 8.5
model year                   70                70                  70
색상                         blue              blue                blue

                              10   ...                         388  \
index                          10  ...                         388
name          dodge challenger se  ...  chrysler lebaron medallion
mpg                          15.0  ...                        26.0
cylinders                       8  ...                           4
displacement                383.0  ...                       156.0
horsepower                  170.0  ...                       92.00
weight                     3563.0  ...                      2585.0
acceleration                 10.0  ...                        14.5
model year                     70  ...                          82
색상                           blue  ...                        blue

                         389               390                391  \
index                    389               390                391
name          ford granada l  toyota celica gt  dodge charger 2.2
mpg                     22.0              32.0               36.0
cylinders                  6                 4                  4
displacement           232.0             144.0              135.0
horsepower             112.0             96.00              84.00
weight                2835.0            2665.0             2370.0
acceleration            14.7              13.9               13.0
model year                82                82                 82
색상                      blue              blue               blue

                           392              393        394            395  \
index                      392              393        394            395
name          chevrolet camaro  ford mustang gl  vw pickup  dodge rampage
mpg                       27.0             27.0       44.0           32.0
cylinders                    4                4          4              4
displacement             151.0            140.0       97.0          135.0
horsepower               90.00            86.00      52.00          84.00
weight                  2950.0           2790.0     2130.0         2295.0
acceleration              17.3             15.6       24.6           11.6
model year                  82               82         82             82
색상                        blue             blue       blue           blue

                      396         397
index                 396         397
name          ford ranger  chevy s-10
mpg                  28.0        31.0
cylinders               4           4
displacement        120.0       119.0
horsepower          79.00       82.00
weight             2625.0      2720.0
acceleration         18.6        19.4
model year             82          82
색상                   blue        blue

[10 rows x 397 columns]

In [82]:
items1 = {"1":{'price':1500}, '2':{'price':15000}, '3':{'price':1000}}
items2 = {"1":{'price':1200}, '2':{'price':7000}, '4':{'price':1200}}
data1 = pd.DataFrame(items1).T
data2 = pd.DataFrame(items2).T
# print(data1)
# print(data2)
#스칼라 데이터와의 연산은 모든 셀에 적용
# print(data1 + 10)

#DataFrame이나 Series 끼리의 연산은 동일한 인덱스끼리 수행
# print(data1 + data2)

#함수 이용 - 기본값 설정이 가능
print(data1.add(data2, fill_value=0))

   price
1   1510
2  15010
3   1010
     price
1   2700.0
2  22000.0
3      NaN
4      NaN

In [98]:
#첫번째 행이 컬럼 이름이 아니라서 읽고 난 후 컬럼 이름을 설정
df = pd.read_csv('./data/noheader_auto-mpg.csv', header = None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
# print(df)
print(df.head()) #앞의 5개 행만 출력

# #mpg의 평균
# print(df['mpg'].mean())
# print(df[['mpg', 'cylinders']].diff()) #이전 데이터와의 차이

print(df[['mpg', 'cylinders']].pct_change()) #이전 데이터와의 차이

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
          mpg  cylinders
0         NaN        NaN
1   -0.166667        0.0
2    0.200000        0.0
3   -0.111111        0.0
4    0.062500        0.0
..        ...        ...
393  0.000000        0.0
394  0.629630        0.0
395 -0.272727        0.0
396 -0.125000        0.0
397  0.107143        0.0

[398 rows x 2 columns]

In [95]:
#모든 숫자 컬럼의 상관 계수를 전부 구하기
#df.corr()

print(df[['mpg', 'weight']]).corr()

      mpg  weight
0    18.0  3504.0
1    15.0  3693.0
2    18.0  3436.0
3    16.0  3433.0
4    17.0  3449.0
..    ...     ...
393  27.0  2790.0
394  44.0  2130.0
395  32.0  2295.0
396  28.0  2625.0
397  31.0  2720.0

[398 rows x 2 columns]

AttributeError: 'NoneType' object has no attribute 'corr'

In [105]:
df = pd.read_csv('./data/noheader_auto-mpg.csv', header = None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

print(df.sort_values(by=["mpg"], ascending=False))

      mpg  cylinders  displacement horsepower  weight  acceleration  \
322  46.6          4          86.0      65.00  2110.0          17.9
329  44.6          4          91.0      67.00  1850.0          13.8
325  44.3          4          90.0      48.00  2085.0          21.7
394  44.0          4          97.0      52.00  2130.0          24.6
326  43.4          4          90.0      48.00  2335.0          23.7
..    ...        ...           ...        ...     ...           ...
103  11.0          8         400.0      150.0  4997.0          14.0
67   11.0          8         429.0      208.0  4633.0          11.0
25   10.0          8         360.0      215.0  4615.0          14.0
26   10.0          8         307.0      200.0  4376.0          15.0
28    9.0          8         304.0      193.0  4732.0          18.5

     model year  origin                  name
322          80       3             mazda glc
329          80       3   honda civic 1500 gl
325          80       2  vw rabbit c (diesel)
394          82       2             vw pickup
326          80       2    vw dasher (diesel)
..          ...     ...                   ...
103          73       1      chevrolet impala
67           72       1       mercury marquis
25           70       1             ford f250
26           70       1             chevy c20
28           70       1              hi 1200d

[398 rows x 9 columns]