In [3]:
df = pd.DataFrame([['안녕하세요', '니하오', '헬로우', '키아 오라', '안녕하세요'],
                ['한국', '중국', '미국', '뉴질랜드', '한국']])
df = df.T #열과 행 전치
#print(df)
#print(df.duplicated()) #중복 확인
df.drop_duplicates(inplace=True)
print(df.duplicated()) #중복 확인

0    False
1    False
2    False
3    False
dtype: bool

In [7]:
def f(data):
	return data + '...'

# #Series에 함수 적용
# print(df[0].apply(lambda data: data + '...')) #Series는 셀 단위 적용
# print(df.apply(f)) #DataFrame은 행이나 열 단위 적용인데 기본은 열 단위 적용
# print(df.applymap(f)) #applymap은 셀 단위 적용

import seaborn as sns
titanic = sns.load_dataset('titanic')
#print(titanic.head())

df = titanic[['age', 'fare']]
#print(df.head())

def min_max(data):
	return data.max() - data.min()

#열 단위로 함수 적용
result = df.apply(min_max, axis=0)
print(result)

age      79.5800
fare    512.3292
dtype: float64

In [18]:
# print(titanic.head())
df = titanic[['age', 'fare']]
# print(type(df))

#하나의 데이터를 가지고 null 여부를 판단해주는 함수를 대입
#셀 단위로 적용해서 DataFrame을 리턴
# print(df.pipe(lambda x: x.isnull()))

def missing_value(x):
	return x.isnull()

#집계를 하는 함수를 대입하면 열 단위로 대입해서 집계를 수행한 후 Series를 리턴
# print(df.pipe(lambda x: missing_value(x).sum()))

def missing_count(x):
	return missing_value(x).sum()

#Series를 리턴하는 함수를 대입하면 하나의 값을 리턴
print(df.pipe(lambda x: missing_count(x).sum()))

177

In [24]:
df = pd.read_excel('./data/주가데이터.xlsx')

#자료형이 datatime64 라서 split을 사용할 수 없음
# dates = df['연월일'].str.split('-')

#데이터 타입 변경
#astype을 호출해서 변경
#map 함수에 형을 변경할 수 있는 함수를 대입
df['연월일'] = df['연월일'].astype('str')
dates = df['연월일'].str.split('-')
# print(dates.head())

df['연'] = dates.str.get(0)
df['월'] = dates.str.get(1)
df['일'] = dates.str.get(2)

print(df.head())

          연월일   당일종가  전일종가     시가     고가     저가     거래량     연   월   일
0  2018-07-02  10100   600  10850  10900  10000  137977  2018  07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018  06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018  06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018  06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018  06  26

In [34]:
df1 = pd.DataFrame({
	'a':['a0', 'a1', 'a2', 'a3'],
	'b':['b0', 'b1', 'b2', 'b3'],
	'c':['c0', 'c1', 'c2', 'c3'],   
}, index = [1, 2, 3, 4])

df2 = pd.DataFrame({
	'a':['a2', 'a3', 'a4', 'a5'],
	'b':['b2', 'b3', 'b4', 'b5'],
	'd':['c2', 'c3', 'c4', 'c5'],   
}, index = [2, 3, 4, 5])

print(df1)
print(df2)

# print(pd.concat([df1, df2]))

# print(pd.concat([df1, df2], axis=1)) #동일한 인덱스끼리 옆으로 결합
#한쪽에만 존재하는 데이터도 결합 - Outer Join


print(pd.concat([df1, df2], axis=1, join='inner')) #동일한 인덱스끼리 옆으로 결합
#양쪽 모두에 존재하는 데이터만 결합 - Inner Join

    a   b   c
1  a0  b0  c0
2  a1  b1  c1
3  a2  b2  c2
4  a3  b3  c3
    a   b   d
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5
    a   b   c   a   b   d
2  a1  b1  c1  a2  b2  c2
3  a2  b2  c2  a3  b3  c3
4  a3  b3  c3  a4  b4  c4

In [35]:
print(df1.append(df2))

    a   b    c    d
1  a0  b0   c0  NaN
2  a1  b1   c1  NaN
3  a2  b2   c2  NaN
4  a3  b3   c3  NaN
2  a2  b2  NaN   c2
3  a3  b3  NaN   c3
4  a4  b4  NaN   c4
5  a5  b5  NaN   c5

/var/folders/bq/22f7j5dn6x5dcpn8t77q8t4h0000gn/T/ipykernel_16102/1388991793.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(df2))

In [38]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan])
b = pd.Series(np.arange(len(a), dtype=np.float64))
# print(a)
# print(b)

#a의 값이 NaN인 경우는 b의 값으로 채우기
r = np.where(pd.isnull(a), b, a)

#numpy의 1차원 배열은 출력할 때 행 방향으로 출력합니다.
#조건이 True인 경우는 데이터1 False인 경우는 데이터2
print(r)
print(pd.Series(r))
print(a.combine_first(b))

[0.  2.5 2.  3.5 4.5 5. ]
0    0.0
1    2.5
2    2.0
3    3.5
4    4.5
5    5.0
dtype: float64
0    0.0
1    2.5
2    2.0
3    3.5
4    4.5
5    5.0
dtype: float64

In [46]:
price = pd.read_excel('./data/stock price.xlsx')
valuation = pd.read_excel('./data/stock valuation.xlsx')
# print(price)
# print(valuation)
# inner_join = pd.merge(price, valuation)
# print(inner_join)

outer_join = pd.merge(price, valuation, how='outer')
print(outer_join)

        id stock_name          value     price       name           eps  \
0   128940       한미약품   59385.666667  421000.0        NaN           NaN
1   130960     CJ E&M   58540.666667   98900.0     CJ E&M   6301.333333
2   138250      엔에스쇼핑   14558.666667   13200.0        NaN           NaN
3   139480        이마트  239230.833333  254500.0        이마트  18268.166667
4   142280     녹십자엠에스     468.833333   10200.0        NaN           NaN
5   145990        삼양사   82750.000000   82000.0        삼양사   5741.000000
6   185750        종근당   40293.666667  100500.0        종근당   3990.333333
7   192400      쿠쿠홀딩스  179204.666667  177500.0        NaN           NaN
8   199800         툴젠   -2514.333333  115400.0        NaN           NaN
9   204210     모두투어리츠    3093.333333    3475.0     모두투어리츠     85.166667
10  136480        NaN            NaN       NaN         하림    274.166667
11  138040        NaN            NaN       NaN    메리츠금융지주   2122.333333
12  161390        NaN            NaN       NaN      한국타이어   5648.500000
13  181710        NaN            NaN       NaN  NHN엔터테인먼트   2110.166667
14  207940        NaN            NaN       NaN   삼성바이오로직스   4644.166667

         bps        per       pbr
0        NaN        NaN       NaN
1    54068.0  15.695091  1.829178
2        NaN        NaN       NaN
3   295780.0  13.931338  0.860437
4        NaN        NaN       NaN
5   108090.0  14.283226  0.758627
6    40684.0  25.185866  2.470259
7        NaN        NaN       NaN
8        NaN        NaN       NaN
9     5335.0  40.802348  0.651359
10    3551.0  11.489362  0.887074
11   14894.0   6.313806  0.899691
12   51341.0   7.453306  0.820007
13   78434.0  30.755864  0.827447
14   60099.0  89.790059  6.938551

In [49]:
price = pd.read_excel('./data/stock price.xlsx', index_col="id")
valuation = pd.read_excel('./data/stock valuation.xlsx', index_col="id")

# print(price.join(valuation)) #인스턴스로 메서드 호출: bound 호출
print(pd.DataFrame.join(price, valuation)) #클래스로 인스턴스 메서드 호출: unbound 호출

       stock_name          value   price    name           eps       bps  \
id
128940       한미약품   59385.666667  421000     NaN           NaN       NaN
130960     CJ E&M   58540.666667   98900  CJ E&M   6301.333333   54068.0
138250      엔에스쇼핑   14558.666667   13200     NaN           NaN       NaN
139480        이마트  239230.833333  254500     이마트  18268.166667  295780.0
142280     녹십자엠에스     468.833333   10200     NaN           NaN       NaN
145990        삼양사   82750.000000   82000     삼양사   5741.000000  108090.0
185750        종근당   40293.666667  100500     종근당   3990.333333   40684.0
192400      쿠쿠홀딩스  179204.666667  177500     NaN           NaN       NaN
199800         툴젠   -2514.333333  115400     NaN           NaN       NaN
204210     모두투어리츠    3093.333333    3475  모두투어리츠     85.166667    5335.0

              per       pbr
id
128940        NaN       NaN
130960  15.695091  1.829178
138250        NaN       NaN
139480  13.931338  0.860437
142280        NaN       NaN
145990  14.283226  0.758627
185750  25.185866  2.470259
192400        NaN       NaN
199800        NaN       NaN
204210  40.802348  0.651359